<!-- Featured Series scrolling wheel -->
<div class = "container">
  
</div>
<!-- End of scrolling wheel -->

<!-- Front page descriptor -->
<div class = "container">
  <div class = "row">
    <div class = "text-center">
      <h1>Welcome to Episodewrap</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3 text-center">
      <p>Your guide to exploring your favorite TV shows. To begin, select either spoiler-free or spoiler mode from the navigation bar
        above and start exploring!</p>
    </div>
  </div>
</div>
<!-- End of front page descriptor -->

<!-- List of series, alphabetically arranged -->
<div class ="container well">
  <div class ="row">
    <div class = "col-md-3 col-md-offset-1">
      <ul id = "front-page-series-list" class = "text-center" >
        <li>_#_</li>
        <li>_A_</li>
        
        <li>_B_</li>
        <li><%= link_to 'Black Mirror', tvshow_path(id: @blackMirror.id),  class: 'linked-series' %></li>
        <li><%= link_to 'Breaking Bad', tvshow_path(id: @breakingBad.id),  class: 'linked-series' %></li>

        <li>_C_</li>
        <li>_D_</li>
        <li>_E_</li>
        <li>_F_</li>
        <li>_G_</li>
        <li><%= link_to 'Game of Thrones', tvshow_path(id: @gameOfThrones.id),  class: 'linked-series' %></li>
        <li>_H_</li>
      </ul>
    </div>
    <div class = "col-md-3">
      <ul id = "front-page-series-list" class = "text-center" >
        <li>_I_</li>
        <li>_J_</li>
        <li>_K_</li>
        <li>_L_</li>
        <li>_M_</li>
        <li>_N_</li>
        <li>_O_</li>
        <li>_P_</li>
        <li>_Q_</li>
      </ul>
    </div>
    <div class = "col-md-3">
      <ul id = "front-page-series-list" class = "text-center" >
        <li>_R_</li>
        <li>_S_</li>
        <li>_T_</li>
        <li>_U_</li>
        <li>_V_</li>
        <li>_W_</li>
        <li>_X_</li>
        <li>_Y_</li>
        <li>_Z_</li>
      </ul>
    </div>
  </div>
</div>
<!-- End of list of series -->
